button {
  width: 60vw;
  box-sizing: border-box;
  box-shadow: none;
  letter-spacing: 3px;
  font-family: var(--font-family);
  font-size: 1rem;
  color: white;
  border: solid 5px transparent;
  border-image: linear-gradient(120deg, #8a3ab9, #cd486b, #fccc63, #bc2a8d);
  border-image-slice: 1;
  -webkit-background-clip: text;
  background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 10px rgb(0 0 0 / 75%);
}
.button-box{
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
.button-hover{
  padding: 3%;
}
.button-hover:hover {
  box-sizing: border-box;
  background-color: #bc2a8e39;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(2px);
  transition: 0.7s;
}

@media screen and (min-width: 768px) {
  button {
    width: 40vw;
    font-size: 1.5rem;
  }
  /* button:hover {
    background-color: #fccc63;
    color: black;
  } */
  /* .button-space {
    margin-top: 10vh;
  } */
}
