button {
  box-sizing: border-box;
  box-shadow: none;
  letter-spacing: 3px;
  font-family: var(--font-family);
  font-size: 1rem;
  color: white;
  padding: 4%;
  border: solid 5px transparent;
  border-image: linear-gradient(120deg, #8a3ab9, #cd486b, #fccc63, #bc2a8d);
  border-image-slice: 1;
  -webkit-background-clip: text;
}

.button-hover:hover {
  text-decoration: none;
  color: white;
  padding: 3%;
  transition: 0.7s;
}
@media screen and (min-width: 768px) {
  button {
    font-size: 1.5rem;
  }
  .button-hover:hover {
    background-color: #fccc63;
    color: black;
  }
}
